.wrapper {
  margin: 60px 0;
}

.wrapper .grid {
  /* // outline: 1px solid red; */
}

.image {
  padding: 15px 0 !important;
  background-color: #fff !important;
}

.image .img {
  min-height: 150px;
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center center;
  padding: 15px 0;
}

.image .ui.ribbon.label {
  position: absolute;
  left: -14px;
  top: 10px;
}

.card {
  position: relative;
}

.card.active {
  .image, .content {
    opacity: 0.6;
  }
  
  &:before {
    display: block;
    opacity: 1 !important;
  }
}

.ui.fluid.link.card:before {
  position: absolute;
  font-weight: 700;
  z-index: 999;
  width: 100%;
  top: 100px;
  font-size: 24px;
  text-align: center;
  transform: rotate(-24deg);
  content: "OFFER LOADED";
  opacity: 0;
}

.card .content {
  min-height: 120px;
}

/* // .card .header {
//   // font-size: 18px !important;
//   min-height: 50px;
// }

// .card .description {
//   min-height: 50px;
// } */